*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body a{
   color: #000;
}
#myHeader a{
    color: #000;
}
.blog-header a{
    color: black;
}
.blog-header .logoarea{
    color: black;
}
.header .buttons .btn a{
    color:black;
}