*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/**#myHeader a{
    color: #000;
}
.style a{
    color: aliceblue;
}
.blog-header a{
    color: black;
}
.blog-header .logoarea{
    color: black;
}
.header .buttons .btn a{
    color:black;
}**/
.bod{
    width: 100%;
    height: auto;
}
.bod .blogpost{
    width: 100%;
    height: auto;
    display: inline-block;
    border-bottom: gray solid 1px;
    border-top: gray solid 1px;
}
@media screen and (max-width:800px){
    .bod .blogpost{
        margin-top: 50px;
    }
}
.bod .blogpost .blogpost-sub{
    width: 20%;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    text-transform: capitalize;

}
.content-section{
    width: 60%;
    margin-left: 19%;
    margin-right: 19%;
    display: inline-block;
    height: auto;
}
.content-section .content-sub{
    width: 45%;
    height: 300px;
    margin-left: 4%;
    float: left;
    border:1px solid rgb(0, 0, 0);
    text-align: center;
}
.content-section .main  img{
    width: 100%;
    height: 150px;
}
.content-section .content-sub .quoted{
    width:100%;
    height: 150px;
    display:inline-block;
    text-align:center;
}
.content-section .content-sub .quoted .sub-img{
    width: 40%;
    height: 100%;
    float: left;

}
.content-section .content-sub .quoted .sub-img img{
    width: 100%;
    height: 100%;
}
.content-section .content-sub .quoted .sub-img-text{
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 4%;
    overflow: hidden;
}
@media screen and (max-width:800px){

}