*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x:hidden;
	height: 2000px;
	font-family: sans-serif;
}
.container{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.topcontent{
	background-image: url(../img/topcontainer.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 90vh;
	width:100%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	transition: 2s;
	position: relative;
	z-index: 4;
}
.topcontainer{
	height: 90vh;
	width:100%;
	background-color: purple;
	transition: 1s;
}
.trans{
	height: 50vh;
	transition: 1s;
}
.transition{
	height: 50vh;
	border-bottom-left-radius: 10000px;
	transition: 1s;
	border-bottom-right-radius: 10000px;
}
.header{
	display: inline-block;
	width: 100%;
	position: fixed;
	transition: 2s;
	z-index: 7;

}
.header .logoarea{
	float: left;
	width: 40%;
	color: #fff;
	opacity: 0;
}
.header .logo{
	opacity: 1;
}
.header .buttons{
	float: right;
	width: 50%;
}
.header .buttons .btn{
	float: left;
	width: 23%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header .buttons .btn a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 10px;
}
.header .buttons .btn a:hover{
	color: purple;
}
.header .buttons  a:hover .btn{
	padding-top: 20px;
}
.topcontent .title{
	text-align: center;
	color: #fff;
	padding-top: 20vh;
	font-size: 40px;
	display: block;
	opacity: 1;
	transition: 1s;
	opacity: 1;
}

.topcontent .title h1{
	font-weight: 100px;
	font-size: 100px;
	text-transform: uppercase;
}
.topcontent .title h2{
	font-weight: 20px;
	text-transform: capitalize;
}
@media screen and (max-width: 800px){
	.topcontent .title h1{
		font-size: 70px;
		text-transform: capitalize;
		padding-bottom: 50px;
	}
	.topcontent .title h2{
		font-size: 25px;
		font-weight: bold;
		padding-bottom: 60px;
	}
}
.topcontent .nav-con{
	width: 100%;
	text-align: center;
}
.topcontent .navigation{
	display: inline-block;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: auto;
	margin-top: 60px;
	text-align: center;
}
.topcontent .navigation button{
	float: left;
	width: 200px;
	height: 60px;
	border-radius: 30px;
	align-items: center;
	border: none;
	cursor: pointer;
}
.topcontent .nav-con .navigation .learn{
	background-color: transparent;
	border:1px solid white;
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
	transition: 1s;
}
.topcontent .nav-con .navigation .learn:hover{
	box-shadow: 1px 1px 5px  white;
}
.topcontent .nav-con .navigation  .join {
	background-color: #fff;
	font-weight: bold;
	color:purple;
	transition: 1s;
}
.topcontent .nav-con .navigation  .join:hover{
	box-shadow: 1px 1px 7px  purple;
}
.diss{
	transition:2s;
	display: none;
	transform: rotate(-180deg);
	opacity: 0;
}
.style{
	background-color: rgb(100,0,255,0.3);
	text-transform: uppercase;
	font-weight: bold;
	transition: 1s;
	display: block;
}
.style .buttons .btn {
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 2s;

}
.margone{
	margin-left: -1000px;
	transition: 4s;
	transform: rotate(360deg);
}
.margtwo{
	margin-right:-1000px;
	transition: 4s;
	transform: rotate(-360deg);
	opacity: 0;
}
.bg {
  position: relative;
  height: auto;
  width: 100%;
  background: #fff;
  padding-top: 50px;
  align-content: center;
}
.bg:after,
.bg:before {
  position: absolute;
  content: '';
  left: 0px;
  height: 100%;
  width: 100%;
  transform-origin: right top;
}
.bg:before {
  top: 0px;
  background: navy;
  transform: skewY(-45deg);
}
.bg:after {
  top: -100%;
  background: purple;
  transform: skewY(-15deg);
}
span {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow:purple 1px 0 10px;
  transition: 2s;
}
@media screen and (max-width: 800px){
	span{
		text-shadow:purple 1px 0 10px;
	}
}
.prodcon{
	width: 100%;
	position: relative;
	overflow: hidden;
	transition: 2s;
	z-index: 3;
	margin-left: -1000px;
	height: auto;
	margin-top: 100px;
	display: inline-block;
	text-align: center;
	align-content: center;
	justify-content: center;
	padding-top:50px;
	padding-bottom: 50px;
}

.prodcon .service{
	float: left;
	width: 31%;
	margin-left: 1.5%;
	height: auto;
	overflow: hidden;
	padding: 3%;
	position: relative;
	text-align: left;
	line-height: 30px;
	border-radius: 30px;
	background-color: rgb(255,0,255,0.5);
	box-shadow: 0 15px 15px rgb(0,0,0,0.7);
}

.tool{
	margin-left: 0;
	transition: 2s;
}

.hire{
	width: 100%;
	display: block;
	position: relative;
	z-index: 3;
	text-align: center;
	margin-bottom: 25px;
}
.hire button{
	align-items: center;
	margin:0 auto;
	width: 100px;
	height: 50px;
	border-radius: 25px;
	border:none;
	font-weight: bold;
	color: #fff;
	background-color: purple;
	margin-top: 30px;
	transition: 2s;
	cursor: pointer;
}
.exp{
}
.exp button{
	width: 200px;
	transition: 2s;
}
@media screen and (max-width: 800px){
	.bg{
		height: auto;
	}
	.prodcon{
		height: auto;
		padding-bottom: 0;
	}
	.prodcon .service{
		width:98%;
		margin-bottom: 30px;
		margin-left: 1%;
		margin-right: 1%;
	}
	.hire{
		padding-left: 35%;
	}
	.exp{
		padding-left: 30%;
	}
}
.prodcon .service .service-img{
	width: 50%;
	height: 200px;
	float: right;
	padding-bottom: 40px;

}
.prodcon .service .service-img img{
	width:100%;
	height:100%;
}
.prodcon .service .service-text .service-title{
	width: 50%;
	height:150px;
	text-align: left;
}
.prodcon .service .service-text h2{
	color:#fff;
	font-size: 25px;
	font-weight: 100px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-right: 10px; 
	text-shadow:purple 1px 0 10px;
}
.prodcon .service .service-text p{
	font-size:20px;
}
.pop{
	top:35vh;
	left: 32%;
	width: 500px;
	height: 200px;
	position: fixed;
	display: none;
	z-index: 20;
	border-radius: 20px;
	background-color: rgb(0,0,255,0.8);
	box-shadow: 0 15px 15px rgb(0,0,0,0.7);
	align-content: center;
	transition: 2s;
	text-align: center;
}
@media screen and (max-width: 800px){
	.pop{
		top: 25vh;
		left: 15%;
	}
}
@media screen and (max-width: 600px){
	.pop{
		left: 0;
		width: 100%;
	}
}
.pop h4{
	color: #fff;
	text-align: center;
	font-size: 20px;
	text-shadow:black 1px 0 10px;
}
 .pop .close{
	transform: rotate(45deg);
	position: relative;
	height: auto;
	width: 20px;
	left: 10px;
	font-size: 30px;
	top:10px;
	font-weight: bold;
	color: #fff;
	text-shadow:black 1px 0 10px;
	display: block;
	cursor: pointer;
}
.pop button{
	width: 250px;
	height: 40px;
	background-color: #fff;
	color: purple;
	font-weight: bold;
	position: relative;
	top:40px;
	border:none;
	border-radius: 35px;
	cursor: pointer;
}
.popup{
	display: block;
	transition: 2s;
}
.lux{
	width: 100%;
	height: 100%;
}
.sec{
	width: 100%;
	height: auto;
	background-image: url(../img/sec.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	display: inline-block;
	padding-bottom: 150px;
}
.sec .desc{
	width: 50%;
	color: #fff;
	padding-left: 20px;
	text-shadow:purple 1px 0 10px;
	float: left;
}
.sec .desco{
	float: left;
	text-align: right;
	width: 50%;
	color: #fff;
	padding-right:  20px;
	padding-left: 30px;
	text-shadow:purple 1px 0 10px;
}
.sec .desc h1{
	font-size: 70px;
	font-weight: bold;
	padding-top: 150px;
	text-transform: capitalize;
}
.sec .desc h3{
	font-size: 30px;
	padding-top: 10px;
}
.sec .desco h1{
	font-size: 70px;
	font-weight: bold;
	padding-top: 150px;
	text-transform: capitalize;
}
.sec .desco h3{
	font-size: 30px;
	padding-top: 10px;
}
@media screen and (max-width: 800px){
	.sec{
		height: auto;
	}
	.sec .desc{
		width: 100%;
		float: left;
	}
	.sec .desco{
		width: 100%;
	}
}
.navi{
	position:fixed;
	top: -20%;
	right: 5%;
	z-index: 20;
	width: 50px;
	height: 40px;
	background:navy;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border:none;
	border-radius: 5px;
	transition: 1s;
	cursor: pointer;
	box-shadow: 0 5px 5px #fff;

}
.show{
	margin-right: 20px;
	top:90%;
	transform: rotate(-360deg);
	transition: 1s;
}